
.show {
  display: block;
}
	
.content{
	padding:16px
}

.sticky{
	position:fixed;
	top:0;
	width:100%;
}

.sticky + .content {
  padding-top: 60px;
}

.para{
	padding : 10px;
	text-align:center;
}

.fright{
	text-align:right;
}

.fleft{
	float:left
}

.hea{
	text-align:center;
}

@media only screen and (max-width: 640px) {
	.vidText {
		flex-direction: column;
	}
	.vid {
		padding : 10px;
		
		width: 100vw !important;
		min-width:0px;
		max-width: 100vw;
	}
}

